:root {
  --main-title-color: #212121;
  --text-color: #757575;
  --current-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-backroung-color: #2f303a;
  --portfolio-btn-accent-color: #f5f4fa;
  --hero-btn-accent-color: #188ce8;
  --social-imag-color:#AFB1B8;
  --tr-duration:250ms;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}


.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} 

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.images{
  display: block;
  max-width: 100%;
  height: auto;
  }
body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--current-white-color);
}
/* Логотип  */
.container > .link.logo{
  padding: 0;
  margin: 0 0 20px 0;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Raleway;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-styles {
  color: var(--main-title-color);
}

.logo-footer-styles {
  color: var(--current-white-color);





}

/*****---------------- Навигация в шапке сайта------------------- *****/
.header{
  border-bottom: 1px solid #ECECEC;
}
/* <!-- Навигация --> */
.nav{
  display: flex;
  align-items: center;
  min-height: 80px;
  
}
/* <!-- ссылки в шапке сайта  --> */


.site-nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 93px;

}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}


.item > .nav-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.nav-link {
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function)
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);

}
.current {
  color: var(--accent-color);
}

.current::after{
  content: "";
  position: absolute;

  left: 0;
  bottom: -2px;

  width: 100%;
  height: 4px;
  border-radius: 2px ;
  background-color: var(--accent-color);

}
/* Почта и телефон */
.contacts{
  display: flex;
  margin-left: auto;
  }
.contacts .item:not(:last-child){
  margin-right: 50px;
}

.nav-contacts {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

/* -------------SVG--------- */
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill:currentColor;
}

.envelope{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/***** <!---------------- Основной контент ----------------> *****/
/* Герой */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) , url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;

  background-color: var(--footer-backroung-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  height: 120px;
  margin: 0 auto 30px;
  padding: 0;

  color: var(--current-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопки */
.btn {
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;

  color: var(--main-title-color);
  background-color: var(--portfolio-btn-accent-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--current-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.btn-hero {
  min-width: 200px;
  min-height: 50px;

  color: var(--current-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

 transition-property: background-color, color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function); 
}
/* Делаем кнопку в портфолио current */
.active {
  color: var(--current-white-color);
  background-color: var(--accent-color);
}

.btn-hero:focus,
.btn-hero:hover {
  background-color: var(--hero-btn-accent-color);
}
/****** -----------Наши преимущества --------------- ******/
.features{
  display: flex;
  align-items: center;
  text-align: left;

}

.features .item:not(:last-child){
  margin-right: 30px;
}

.features >.item{
  width: 270px;
}
.fake-title{
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-features {
  margin: 0 0 10px 0;

  color: var(--main-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -SVG-наши-преимущества-*/
.thumb{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  background-color:var(--portfolio-btn-accent-color);
}
.antenna, .clock, .diagram, .astronaut{
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

/************************** Чем мы занимаемся ****************************/
.not-padding-top{
  padding-top: 0;
}
.foto{
  display: flex;
  align-items: center;
  text-align: left;
}

.foto .item:not(:last-child){
  margin-right: 30px;
}

.foto > .item{
  position: relative;
}
.title {
  margin: 0 0 50px 0;
  text-align: center;

  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.images{
  display: block;
max-width: 100%;
height: auto;}

.images-text{
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  
font-weight: 700;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--current-white-color);
background-color:rgba(47, 48, 58, 0.8) ;

}

/***** Наша команда фото *****/
.team-carts{
  background-color:#F5F4FA ;
  
}
.carts{
  display: flex;
  text-align: center;
}

.carts .item:not(:last-child){
  margin-right: 30px;
}

.cart{
  background-color: var(--current-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
.cart-body{
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-carts {
  margin: 0 0 10px 0;

  color: var(--main-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text-carts {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* --SVG-наша-команда-фото */
.list .social{
  display: flex;
  justify-content: center;
}
.social-list:not(:last-child){
  margin-right: 10px;
}

.social-item{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color:var(--social-imag-color);
  
  transition-property: color, background-color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}
.social-item:hover, .social-item:focus {
  color: var(--current-white-color);
  background-color: var(--accent-color);

}

.social-icon {
  width: 20px;
  height: 20px;
  fill:currentColor
}

/* --------------Постоянные клиенты-------------  */

.gerular-clients{
  display: flex;
  justify-content: center;
  max-height: 184px;
}

.list-clients:not(:last-child){
  margin-right: 30px;
}

.client-item{
display: flex;
justify-content: center;
align-items: center;

width: 170px;
height: 92px;

color: var(--social-imag-color);
border: 1px solid var(--social-imag-color);
border-radius: 4px;

transition-property: color, border;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.client-item:hover, .client-item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color)
}
.clients{
  width: 106px;
  height: 60px;
  fill: currentColor;
  
}

/***------------------ Футер с ссылкой на  контактные данные ------------***/
.footer {
  padding: 60px 0;
  background-color: var(--footer-backroung-color);
}

/* Адрес */
.footer-text {
  padding: 0;
  margin: 0 0 9px 0;

  color: var(--portfolio-btn-accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Почта и телефон */
.footer-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-contacts {
  color:var(--footer-link-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* ******** SVG************ */
.footer > .container {
    display: flex;
    align-items: baseline;
}
.footer-nav{
  margin-right: 70px;
}

.footer-social > .text{
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--current-white-color);
}
/* После ПРИСОЕДИНЯЙТЕСЬ */
.foter-list{
  display: flex;
  justify-content: center;
}

.social-list:not(:last-child){
  margin-right: 10px;
}

.social-item-footer{
display: flex;
justify-content: center;
align-items: center;
  
width: 44px;
height: 44px;
border-radius: 50%;
  
color: var(--current-white-color);
background-color: rgba(255, 255, 255, 0.1);

transition-property: background-color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.social-item-footer:hover, .social-item-footer:focus{
  background-color: var(--accent-color);
}

.social-icon {
width: 20px;
height: 20px;
fill: currentColor;
}


/* <!-------- Модальное окно -----> */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--tr-duration) var(--timing-function);
  
}

.backdrop.is-hidden{
  
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
 }

.backdrop.is-hidden .modal{
  transform:  translate(-50%, -50%) scale(0.6);
}

.modal{
  
  max-width:528px ;
  width: calc(100% - 30px);
  max-height: 581px;
  height: calc(100% - 30px);

  background-color: var(--current-white-color);
  border-radius: 4px;

 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  transition-property: transform;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.btn-close-black{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  
  width: 30px;
  height: 30px;

  background-color: var(--current-white-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  
  transition-property: background-color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
}

.btn-close-black:hover,  .btn-close-black:focus{
  color: var(--accent-color);
}

.close-black{
  width:18px ;
  height:18px ;
  fill: currentColor;
}

/* модальное окно оформление */
.form{
  text-align: center;
}

.modal-title{
margin: 0 0 12px 0;

font-weight: 700;
font-size: 20px;
line-height: calc(23 / 20);
text-align: center;
letter-spacing: 0.03em;

color: var(--main-title-color);
}


.modal-label{
  display: block;
  position: relative;
  color: var(--main-title-color);
  text-align: left;
  margin-bottom: 10px;
}

.modal-label-text{
display: block;

font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;

color: var(--text-color);

margin-bottom: 4px;

}

.modal-input{
display: block;

width: 100%;
height: 40px;
padding-left: 42px;
margin-bottom: 10px;

border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;

transition-property: border;
transition-duration: var(--tr-duration);
transition-timing-function: var(--timing-function);
}

.modal-icon{
  display: block;
  position: absolute;

  top: 50%;
  left: 0;

  margin-left: 12px;
  
  width: 18px;
  height: 18px;
  fill: currentColor;

  transition-property: fill;
transition-duration: var(--tr-duration);
transition-timing-function: var(--timing-function);
}

.modal-input:focus, .textarea-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border: 1px solid #2196F3;
}

.modal-input:focus + .modal-icon{
  fill: var(--accent-color);
}

 .textarea-label{
  margin-bottom: 20px;
}

.textarea-input{
  
  resize: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.modal-label-checkbox{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}

.checkbox{
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    /* overflow: hidden; */
}

.test-icon{
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--main-title-color);
  border-radius: 4px;
  background-color: var(--current-white-color);
}



.text-checkbox{
  font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;

color: var(--text-color);
margin: 0;
}



/****** -----------------------Портфолио---------------------*****/

/* <!-- Секция фильтры --> */
.filter{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child){
  margin-right: 8px;
}

/* <!-- Секция проекты  --> */
.works{
  display:flex;
  flex-wrap: wrap;
  align-items: center;  
}

.work-item{
margin-right: 30px;
margin-bottom: 30px;  
}

.work-item:nth-child(3n){
  margin-right: 0px;
}

.work-item:nth-last-child(-n+3){
  margin-bottom: 0px;
}

.work-title-text{
  padding: 20px 24px ;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.work-title {
margin: 0 0 4px 0;

  color: var(--main-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.work-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.cart-work{
  transition-property:box-shadow;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);

}

.cart-work:hover, .cart-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/****** анимация синего всплывающие окна ******/
.card-aside{
  position: relative;
  overflow: hidden;
}

.product-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background-color:  rgba(33, 150, 243, 0.9); 
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--timing-function);
  
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color:var(--current-white-color);
}

.cart-work:hover .product-overlay, .cart-work:focus .product-overlay{
  transform: translateY(0px);
}

