//header

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height :80px ;
    background-color: $current-white-color;
    border-bottom: 1px solid #ECECEC;
    z-index: 2;
}
