.section{
  padding-top: 60px;
  padding-bottom: 60px;
  

  @media screen and (min-width:1200px){
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.section-not-padding-top{
@media screen and (min-width: 1200px){
padding-top: 0;
}

@media screen and (max-width: 1199px)
{
  display: none;
}
}

.section-team-carts{
  background-color:#F5F4FA ;
  
}