$main-title-color: #212121;
$text-color: #757575;
$current-white-color: #ffffff;
$accent-color: #2196f3;
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-backroung-color: #2f303a;
$portfolio-btn-accent-color: #f5f4fa;
$hero-btn-accent-color: #188ce8;
$social-imag-color:#AFB1B8;
$tr-duration:250ms;
$timing-function:cubic-bezier(0.4, 0, 0.2, 1);